body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}
.heading-h1{
    font-size: 60px;
    
}
.paragraph-p{
    font-size: 15px;
    padding-left: 300px;
    padding-right: 300px;
}

.first-portion{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)),url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: white;
    padding-top: 100px;
    text-align: center;   
}
.donate-button{
    font-size: 25px;
    text-decoration: none;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); 
    font-weight: 500;
    padding: 10px 20px;                 
    border-radius: 4px
    
}
.second-portion{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 18px;
    color:rgba(157, 59, 87, 0.749);
}
.donate-today{
    font-size: 40px;
    color: black;
    text-align: center;
}
.third-portion{
  
    display: flex;
    color: rgb(157, 14, 14);
    padding-left: 430px;
    margin-bottom: 100px;
    margin-top: 0px;
}
#a{
     text-align: center;
     width: 10%;
     margin-left: 10px;
     margin-right: 10px;
     padding-top:2%;
     padding-bottom: 2%;
     
     box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.102);
}
#b{
     text-align: center;
     width: 10%;
     margin-left: 10px;
     margin-right: 10px;
     padding-top:2%;
     padding-bottom: 2%;
     box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.102);

}
#c{
     text-align: center;
     width: 10%;
     margin-left: 10px;
     margin-right: 10px;
     padding-top:2%;
     padding-bottom: 2%;
     border: 2px solid red;
     border-radius: 3px;
     box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.102);
}
#d{
     text-align: center;
     width: 10%;
     margin-left: 10px;
     margin-right: 10px;
     padding-top:2%;
     padding-bottom: 2%;
   
     box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.102);
}
#e{
     text-align: center;
     width: 10%;
     margin-left: 10px;
     margin-right: 10px;
     padding-top:2%;
     padding-bottom: 2%;
   
     box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.102);
}

#f{
     text-align: center;
     width: 10%;
     margin-left: 10px;
     margin-right: 10px;
     padding-top:2%;
     padding-bottom: 2%;  
     box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.102);

}
.four-portion{
    text-align: center;
    color: rgba(165, 42, 42, 0.461);
}
#donate-text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 25px;
}
.donate-now{ 
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);       
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;                 
    border-radius: 4px
    
}
.donate-plan-portion{
    text-align: center;
    color:rgba(157, 59, 87, 0.749);
    margin-top: 120px;
    
}
#donate-plan-font{
    color: black;
    font-size: 40px;
    font-weight: 900;  
 
}
.display-flexiable{
    display: flex;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 50px;
    margin-bottom: 130px;
}

#food-for-family{
    width: 30%;    
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 25px;
    background-color: #fbac7e25;
    border-radius: 5px;   
    margin-right: 20px;

    
}
    
#shelter-for-family{
    width: 30%;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 25px;
    background-color: #918d8a1f;
    border-radius: 5px;
    margin-right: 20px;
}
#education-for-child{
    width: 30%;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 25px;
    background-color: rgba(240, 248, 255, 0.591);
    border-radius: 5px;
    margin-right: 20px;
}
#subscribe-button{
    text-decoration: none;   
}
.email-box{
    width: 40%;
    padding: 13px;
    background-color: rgba(195, 183, 183, 0.499);
    margin-left: 2%;
    border: 1px solid blueviolet;
    border: 1px solid blueviolet;
    margin-bottom: 1%;
    margin-left: 145px;
    border-radius: 1px;
}

.subscribe-button{  
    padding: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    margin-left: -5px;
    font-weight: 500;
    background-color: cadetblue;
    border: 1px solid blueviolet;
}

.subscribe-box {
    width: 48%;
    height: 100px;
    background-color: #e5ded961;
    margin-left: 26%;
    margin-right: 20%;
    padding-top: 55px;
    margin-bottom: 150px;
    border-radius: 5px;
    margin-bottom: 150px;
    margin-top: 50px;
}
.footer-area{
    background-color: black;
    color: aliceblue;
    margin-top: 100px;
    margin-bottom: 0px;
    text-align: center;
    padding-bottom:5px;
    padding-top: 25px;
    font-size: 15px;
}


#for-humble{
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    color: red;
}
#last{
    padding-inline-start: 10px;
}
#font-do{
    font-family: 'Amatic SC', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
.bonus-portion{
    text-align: center;
    font-size: 16px;
}